<link rel="stylesheet" href="{{ url_for('static', filename='common/bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='common/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='common/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='common/xtajax.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='common/sweetalert2/sweetalert2.min.css') }}">
<script src="{{ url_for('static', filename='common/sweetalert2/sweetalert2.min.js') }}"></script>
<script src="{{ url_for('static', filename='common/sweetalert2/promise.min.js') }}"></script>
<script src="{{ url_for('static', filename='common/sweetalert2/xtalert.js') }}"></script>
<script src="{{ url_for('static', filename='common/js/common.js') }}"></script>
<link rel="stylesheet" href="/static/common/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='cms/css/style.css') }}">
<script src="{{ url_for('static', filename='cms/js/app.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='common/css/common.css') }}">
