{% extends 'cms/table_base.html' %}

{% block ol %}
    <li class="breadcrumb-item">
        <a href="{{ url_for('admin.merchant_view') }}">商户列表</a>
    </li>
    <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}

{% block other_head %}
    <script>
        // 获取谷歌验证码
        function getGoogleQrcode(data_uuid) {
            xtajax.post({
                'data': {'action': 'getGoogleQrcode', 'data_uuid': data_uuid},
                'success': function (data) {
                    if (data.code === 200){
                        return xtalert.alertImg('Google验证码', data.data.generate_qrcode);
                    }else{
                        return xtalert.alertError(data.message);
                    }
                }
            })
        }
        function post_sub_data(datauuid) {
            let account = $.trim($("#account").val());
            let account_name = $.trim($("#account_name").val());
            let password = $.trim($("#password").val());
            let confirm_password = $.trim($("#confirm_password").val());
            let note = $.trim($("#note").val());
            if (!account){ return xtalert.alertError('请输入账户！') }
            if (!account_name){ return xtalert.alertError('请输入账户名称！') }
            if (password){
                if (!confirm_password){ return xtalert.alertError('请输入账户确认密码！') }
                if (password !== confirm_password){ return xtalert.alertError('账户密码与确认密码不一致！') }
            }
            xtajax.post({
                'data': {'action': 'edit_sub_data', 'data_uuid': datauuid, 'account': account, 'account_name': account_name, 'password': password, 'note': note},
                'success': function (data) {
                    if (data.code === 200){
                        xtalert.alertSuccessToast('添加成功！');
                        reloadpage();
                    }else{
                        return xtalert.alertError(data.message);
                    }
                }
            })
        }

    </script>
{% endblock %}

{% block searchInput %}
    <select class="form-control mr-sm-2 mb-2" name="statu" aria-label="">
        <option value="">账户状态</option>
        <option value="1" {% if search_res.statu == '1' %}selected{% endif %}>开启</option>
        <option value="0" {% if search_res.statu == '0' %}selected{% endif %}>关闭</option>
    </select>
    <input type="text" class="form-control mb-2 mr-sm-2" name="account" value="{{ search_res.account or '' }}" placeholder="账户" aria-label="">
    <input type="text" class="form-control mb-2 mr-sm-2" name="note" value="{{ search_res.note or '' }}" placeholder="备注" aria-label="" >
{% endblock %}

{% block table_con %}
    <table class="table table-hover text-center table-bordered" style="background-color: #ffffff;">
        <tbody>
            <tr style="background-color: #f7f7f7;">
                <td>账户</td>
                <td>账户名称</td>
                <td>商户ID</td>
                <td>商户名称</td>
                <td>账户状态</td>
                <td>备注</td>
                <td>注册时间</td>
                <td width="180">操作</td>
            </tr>
            {% for data in all_datas %}
                <tr>
                    <td>{{ data.account }}</td>
                    <td>{{ data.account_name }}</td>
                    <td>{{ data.upper_data.merchant_id }}</td>
                    <td>{{ data.upper_data.merchant_name }}</td>
                    <td>{% if data.statu %}<span class="ant-tag ant-tag-green">正常</span>{% else %}<span class="ant-tag ant-tag-red">禁用</span>{% endif %}</td>
                    <td>{{ data.note or '' }}</td>
                    <td>{{ format_time_func(data.create_time) }}</td>
                    <td>
                        <span class="ant-tag to_cursor ant-tag-blue mr-0" onclick="post_form_html({'action': 'edit_submerchant_html', 'data_uuid': '{{ data.uuid }}'}, '编辑信息', 800)">编辑</span>
                        <span class="ant-tag to_cursor ant-tag-red mr-0" onclick="post_update_statu('del', '{{ data.uuid }}', '该商户下绑定的有其它数据存在，删除后不可恢复，是否全部删除？')">删除</span>
                        <span class="ant-tag to_cursor mr-0 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">更多</span>
                        <div class="dropdown-menu">
                            <span class="dropdown-item" onclick="getGoogleQrcode('{{ data.uuid }}')">Google验证码</span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
